<div [formGroup]="form">
    <mat-label>{{field.label || field.name | translate}}</mat-label>
    <mat-label class="warn-color mat-subheading-1" *ngIf="field.required">*</mat-label>

    <mat-grid-list cols="12">
        <mat-grid-tile [colspan]="10">
            <div class="col-10  text-center">
                <!-- <input type="file" (change)="uploadFile($event)" nbButton fullWidth hero [shape]="'round'" [fieldSize]="'medium'" nbInput /> -->
                <p *ngIf="! form.get(this.field.name).value">
                    <label class="upload-button">
                        <input type="file" accept="field.view+'/'" [multiple]='field.multiple' (change)="uploadFile($event)"
                            [accept]="field.accept" formenctype="multipart/form-data">
                        {{'Select File'|translate}}
                    </label> {{'to upload' |translate}}.
                    <!-- <nb-progress-bar [value]="percentage | async" [size]='"tiny"' [status]='"primary"'></nb-progress-bar> -->
                </p>
                <p *ngIf="form.get(this.field.name).value">
                    {{'Delete Current File To Upload Other One' |translate}}.
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button color="primary" (click)="deleteFile(form.value[field.name])">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button color="primary" (click)="viewImage(form.value[field.name])">
                <mat-icon>remove_red_eye </mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

</div>